body {
    background: #f5d9df;
    font-family: 'Nunito', sans-serif;
}

.terry h2 { 
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 2.5rem;
}



#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: rgb(255, 255, 255);
}

#mainNavbar .nav-link:hover {
    color: rgb(0, 0, 0);
}

#mainNavbar .navbar-brand {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}


#headingGroup span {
    color: rgb(0, 0, 0);
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3.0rem;
}

@media (max-width: 1050px) {
 #headingGroup h1 {
    font-weight: 100;
    font-size: 2.2rem;
}
}
#paragraphGroup p {
    color: rgb(75, 1, 59);
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2;
}

.content {
    margin-top: 100px;
}
.navbar.scrolled {
    background: #06a084;
    transition: background 500ms;
}